{% extends 'Requirement/base.html' %}
{% block content %}
      <div>
      <div class="container col-sm-4 py-3">
          <div class="col-sm-10">
        <div align="center">
        <h3>Donation form</h3>
    </div>
    <div>
        <form action="donation-form-receipt/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlSelect1">Donation type</label>
              <select class="form-control" id="exampleFormControlSelect1" name="type" required="True">
                <option>Medicines</option>
                <option>Ventilators</option>
                <option>Beds</option>
                <option>Other Equipments</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Quantity</label>
                <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Quantity" name="Quantity" required="True">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Product Name</label>
                <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name of Requirement" name="ProductName" required="True">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>
      </div>
      </div>
      {% endblock %}