{% extends 'Requirement/base.html' %}
{% block content %}
<div>
    <div class="container col-sm-4 py-3">
        <div class="card" >
            <h4 class="card-header" align="center">Your Requirement</h4>
            <div class="card-body">
              <p class="card-text"><b>Type of Requirement:</b></p>
              <p class="card-text">{{type}}</p>
              <p class="card-text"><b>Quantity of Requirement:</b></p>
              <p class="card-text">{{quantity}}</p>
              <p class="card-text"><b>Name of Requirement:</b></p>
              <p class="card-text">{{Name}}</p>
              <p class="card-text"><b>Description of Requirement:</b></p>
              <p class="card-text">{{desc}}</p>
              <p class="card-text"><b>Requirement Posted at date:</b></p>
              <p class="card-text">{{ datetime|date:"M d, Y" }}</p>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary"><a href="/requirement" style="color:white">Add more requirement</a></button>
                  </div>
              </div>
            </div>
          </div>
    </div>
    </div>
{% endblock %}